$input-btn-padding-y: 0.275rem !default;
$input-btn-padding-x: 0.575rem !default;
$font-size-base: 0.875rem !default;
$card-spacer-y: 0.75rem !default;
$card-spacer-x: 0.75rem !default;

@import 'bootstrap';
